language: elixir
elixir:
  - 1.4
otp_release:
  - 19.2
services:
  - redis-server
script:
  - mix test.integration_no_cache
  - mix test
notifications:
  email:
    on_success: never
    on_failure: never
